.listContainer {
  margin-bottom: 30px;

  h2 {
    margin: 0px 0px 0px 30px;
  } 

  .listRow {
    overflow-x: hidden;
    padding-left: 30px;

    .list {
        width: 99999px;
      
      .item {
        display: inline-block;
        width: 150px;
        cursor: pointer;

        img {
          width: 100%;
          transform: scale(0.9);
          transition: all ease 0.2s;

          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}
