@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .page {
    .lists {
      margin-top: -7%;
    }
  }
}

footer {
  padding: 10px 30px 30px;
  display: flex;
  justify-content: space-around;
  color: #999;

   small {
     font-size: 0.85rem;
   }
}